body {
    display: flex;
    justify-content: center; /* Centra horizontalmente el div */
    align-items: center; /* Centra verticalmente el div */
    height: 100vh; /* Establece la altura del contenedor al 100% de la altura de la ventana */
  }


  
.Apartamento{
    height: 600px;
    width: 1200px;
    border: solid black;
}
.SeccionSuperior{
width:100%;
height: 50%;

display: inline-block;
}
.SeccionInferior{
    width:100%;
    height: 50%;
    position: relative;
    display: inline-block;

}
.PuertaPrincipal{
    background-color: red;
    width: 0.5%;
    height: 20%;
    position: absolute;
    top:7%;
    left: 100%;
}
#HabitacionPricipal{
    width:40%;
    height: 100%;
    outline: 1px solid #000000;
    display: inline-block;
    background-color: aliceblue;
    
    
}
.BañoHabitacion{
     width:28%;
    height:100%;
    text-align: center;
    display: inline-block;
    position: relative;
    outline: 1px solid #000000;

}
.Habitacion{
    width:70%;
    height:100%;
    display: inline-block;
    position: relative;
    outline: 1px solid #000000;
    
    
}

.HabitacionSecundaria{
    width:30%;
    height: 100%;
    outline: 1px solid #000000;
    display: inline-block;
    margin: 0;
    position: relative;
}
.CocinaZonalavado{
    width:29%;
    height: 100%;
    outline: 1px solid #000000;
    display: inline-block;
}
.HabitacionTerciaria{
    width:20%;
    height: 100%;
    outline: 1px solid #000000;
    display: inline-block;
    margin: 0;
    position: relative;
}
.BañoSocial{
    width:25%;
    height: 70%;
    outline: 1px solid #000000;
    display: inline-block;
    margin: 0;
    position: relative;
}
.Zonalavado{
    width:60%;
    height: 30%;
    outline: 1px solid #000000;
    position: relative;
}
.cocina{
    width:100%;
    height: 70%;
    outline: 1px solid #000000;
    text-align: center;
    position: relative;
}
.SalaComedor{
    width:52%;
    height: 70%;
    outline: 1px solid #000000;
    display: inline-block;

}
.Sala{
    width:50%;
    height:100%;
    display: inline-block;
    position: relative;

   
}
.Comedor{
    width:45%;
    height:100%;
    text-align: center;
    display: inline-block;
    position: relative;
}
.Text{
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
}
.puertaHabitacionPrincipal{
    background-color: red;
    width: 15%;
    height: 2%;
    position: absolute;
    top: 98%;
    left: 80%;
}
.PuetabañoHabitacion{
    background-color: red;
    width: 2%;
    height: 15%;
    position: absolute;
   
}
.PuertaHabitacion3{
    background-color: red;
    width: 2%;
    height: 15%;
    position: absolute;
    left: 98%;
    top: 5%;
}
.PuertaBañoSocial{
    background-color: red;
    width: 15%;
    height: 2%;
    position: absolute;
    left: 80%;
}
.ventanaHabitacion{
    background-color: blue;
    width: 2%;
    height: 40%;
    position: absolute;
    top: 30%;
   
}
.VentanaInferior{
    background-color: blue;
    width: 40%;
    height: 2%;
    position: absolute;
    top: 98%; 
    left: 30%;
}
.VentanaCocina{
    background-color: blue;
    width: 2%;
    height: 40%;
    position: absolute;
    top: 30%;
    left:98%;
}
.VentanaSuperior{

    background-color: blue;
    width: 40%;
    height: 2%;
    position: absolute;
    
    left: 30%;

}
/* .Habitacion:hover{
    background-color: red;
    color: black;
}
.BañoHabitacion:hover{
    background-color: rgb(1, 132, 214);
    color: black;
}
.HabitacionSecundaria:hover{
    background-color: blueviolet;
    color: black;
}
.HabitacionTerciaria:hover{
    background-color: aquamarine;
    color: black;
}
.BañoSocial:hover{
background-color: brown;
color: black;
}
.Comedor:hover{
    background-color: cornflowerblue;
    color: black;
}
.Sala:hover{
    background-color: green;
    color: black;
}
.cocina:hover{
    background-color: mediumspringgreen;
    color: black;
}
.Zonalavado:hover{
    background-color:wheat;
    color: black;
} */