body {
    display: flex;
    justify-content: center;
    /* Centra horizontalmente el div */
    align-items: center;
    /* Centra verticalmente el div */
    height: 100vh;
    /* Establece la altura del contenedor al 100% de la altura de la ventana */
}

.container {
    display: flex;
}


.apartamento {
    height: 500px;
    width: 800px;
    border : solid black;
    margin-left: 3rem;
}

.seccionSuperior {
    width: 100%;
    height: 50%;
    display: inline-block;
}

.seccionInferior {
    width: 100%;
    height: 50%;
    position: relative;
    display: inline-block;
    margin-top: -0.5%;


}

.puertaPrincipal {
    background-color: red;
    width: 0.5%;
    height: 20%;
    position: absolute;
    top: 7%;
    left: 100%;
}

#habitacionPrincipal {
    width: 40%;
    height: 100%;
    display: inline-block;

}

.bañoPrivado {
    width: 28%;
    height: 100%;
    text-align: center;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    margin-left: -1.5%;
    
}

#habitacion1 {
    width: 70%;
    height: 100%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    border-bottom: 2px solid black;  
}

.habitacion2 {
    width: 30%;
    height: 100%;
    display: inline-block;
    margin: 0;
    position: relative;
    box-sizing: border-box;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    margin: 0;
    margin-left: -1.5%;

}

.cocinaZonaLavado {
    width: 30.8%;
    height: 100%;
    margin-left: -0.5%;
    display: inline-block;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
}
.ventanaLavado {
    background-color: blue;
    width: 40%;
    height: 6%;
    position: absolute;
    top:-5%;
    left: 35%;
    transition: transform 1s ease;
}
.zonaLavado .ventana_abierta{
    transform:  translateX(-80%);
    background-color: rgb(123, 123, 255);
}


.habitacion3 {
    width: 20%;
    height: 100%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    border-right: 2px solid black;
}

.bañoSocial {
    width: 25%;
    height: 70%;
    display: inline-block;
    margin: 0;
    position: relative;
    box-sizing: border-box;
    border-top: 2px solid black;
    border-right: 2px solid black;
    
    margin-left: -.5%;
   
}
.puertaBañoPrivado {
    background-color: brown;
    width: 4%;
    height: 15%;
    position: absolute;
    transform-origin: top right;
    transition: transform 1s ease;
}
.bañoPrivado .puerta_abierta{
    transform: rotate(-90deg) translateX(20%);
}
.zonaLavado {
    width: 60%;
    height: 30%;
    position: relative;
}

.cocina {
    width: 100%;
    height: 70%;
    box-sizing: border-box;
    text-align: center;
    position: relative;
}

.salaComedor {
    width: 55%;
    height: 70%;
    box-sizing: border-box;
    border-top: 2px solid black; 
    display: inline-block;
    margin-left: -0.5%;
    

}

.sala {
    width: 50%;
    height: 100%;
    display: inline-block;
    position: relative;


}

.comedor {
    width: 45%;
    height: 100%;
    text-align: center;
    display: inline-block;
    position: relative;
}

.Text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
}

.puertaHabitacion1 {
    background-color: brown;
    width: 15%;
    height: 1%;
    position: absolute;
    top: 98%;
    left: 85%;
    transform-origin: top right;
    transition: transform 1s ease;
}

/* Estilos de la puerta abierta */
#habitacion1 .puerta_abierta{
    transform: rotate(90deg) translateX(20%);
}

.habitacion2 .puerta_abierta{
    transform: rotate(90deg) translateX(20%);
}



.puertaHabitacion3 {
    background-color: brown;
    width: 2.2%;
    height: 15%;
    position: absolute;
    left: 98%;
    top: 1.5%;
    transform-origin: top right;
    transition: transform 1s ease;
}

.habitacion3 .puerta_abierta{
    transform: rotate(90deg) translateX(0%);
}

.puertaBañoSocial {
    background-color: brown;
    width: 17.5%;
    height: 2%;
    position: absolute;
    left: 81%;
    transform-origin: top right;
    transition: transform 1s ease;
}

.bañoSocial .puerta_abierta{
    transform: rotate(-90deg) translateX(2%);
}



.ventanaHabitacion {
    background-color: blue;
    width: 3%;
    height: 40%;
    position: absolute;
    top: 30%;
    left: -2.2%;
    transition: transform 1s ease;
}
#habitacion1 .ventana_abierta{
    transform:  translateY(-70%);
    background-color: rgb(123, 123, 255);
}
.habitacion3 .ventana_abierta{
    transform:  translateY(-70%);
    background-color: rgb(123, 123, 255);
}


.sala .ventanaInferior {
    background-color: blue;
    width: 40%;
    height: 1.8%;
    position: absolute;
    top: 98%;
    left: 55%;
    transition: transform 1s ease;
}
.comedor .ventanaInferior {
    background-color: blue;
    width: 40%;
    height: 1.8%;
    position: absolute;
    top: 98%;
    left: -10%;
    transition: transform 1s ease;
}
.sala .ventana_abierta{
    transform:  translateX(-70%);
    background-color: rgb(123, 123, 255);
}
.comedor .ventana_abierta{
    transform:  translateX(70%);
    background-color: rgb(123, 123, 255);
}
.bañoSocial .ventanaInferior {
    background-color: blue;
    width: 40%;
    height: 1.8%;
    position: absolute;
    top: 98%;
    left: 30%;
    transition: transform 1s ease;
}
.bañoSocial .ventana_abierta{
    transform:  translateX(70%);
    background-color: rgb(123, 123, 255);
}

.ventanaCocina {
    background-color: blue;
    width: 1.5%;
    height: 40%;
    position: absolute;
    top: 30%;
    left: 99.5%;

    transition: transform 1s ease;
}
.cocina .ventana_abierta{
    transform:  translateY(-70%);
    background-color: rgb(123, 123, 255);
}

.ventanaSuperior {
    background-color: blue;
    width: 40%;
    height: 2%;
    position: absolute;
    top:-2%;
    left: 35%;
    transition: transform 1s ease;
}
.habitacion2 .ventana_abierta{
    transform:  translateX(-70%);
    background-color: rgb(123, 123, 255);
}

.bañoPrivado .ventana_abierta{
    transform:  translateX(40%);
    background-color: rgb(123, 123, 255);
}
