{% extends 'layout.html' %}
{% block body %}

<h1 class="mt-2">CONFIGURACIONES</h1>
<section style="width:50% !important">
    <h2 class="mt-2">
        <a href="{{url_for('index')}}" class="left" title="Volver"><i class="bi bi-arrow-left-circle"></i></a>
        GENERALES
        <hr>
    </h2>
    <form action="{{ url_for('configuracionesUpdate') }}" method="POST" class="mb-3" autocomplete="off">
        <div class="row">
            <div class="col">
                <label for="nombreUsuario">Nombre de usuario</label>
                {% if configuraciones[0].nombreUsuario %}
                <input type="text" name="nombreUsuario" class="form-control"
                    value="{{ configuraciones[0].nombreUsuario }}" required>
                {% else %}
                <input type="text" name="nombreUsuario" class="form-control" required>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="manejo">Manejo de la aplicación</label>
                <select id="manejo" name="manejo" class="form-control" required>
                    <option value="{{ configuraciones[0].manejo }}"> {{ configuraciones[0].manejo }}</option>
                    {% for data in ['Por voz', 'Por parpadeo'] %}
                    <option value="{{ data }}"> {{ data }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label for="interaccionPuertas">Interaccion con puertas</label>
                <select id="interaccionPuertas" name="interaccionPuertas" class="form-control" required>
                    {% if configuraciones[0].interaccionPuertas==0 %}
                    <option value=0> Desactivado</option>
                    {% else %}
                    <option value=1> Activado</option>
                    {% endif %}
                    {% for data in [{'valor':'Desactivado', 'n':0}, {'valor':'Activado', 'n':1}] %}
                    <option value="{{ data.n }}"> {{ data.valor }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col">
                <label for="interaccionVentanas">Interaccion con ventanas</label>
                <select id="interaccionVentanas" name="interaccionVentanas" class="form-control" required>
                    {% if configuraciones[0].interaccionVentanas==0 %}
                    <option value=0> Desactivado</option>
                    {% else %}
                    <option value=1> Activado</option>
                    {% endif %}
                    {% for data in [{'valor':'Desactivado', 'n':0}, {'valor':'Activado', 'n':1}] %}
                    <option value="{{ data.n }}"> {{ data.valor }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="interaccionLuces">Interaccion con luces</label>
                <select id="interaccionLuces" name="interaccionLuces" class="form-control" required>
                    {% if configuraciones[0].interaccionLuces==0 %}
                    <option value=0> Desactivado</option>
                    {% else %}
                    <option value=1> Activado</option>
                    {% endif %}
                    {% for data in [{'valor':'Desactivado', 'n':0}, {'valor':'Activado', 'n':1}] %}
                    <option value="{{ data.n }}"> {{ data.valor }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col">
                <label for="deteccionObjetos">Detección de objetos</label>
                <select id="deteccionObjetos" name="deteccionObjetos" class="form-control" required>
                    {% if configuraciones[0].deteccionObjetos==0 %}
                    <option value=0> Desactivado</option>
                    {% else %}
                    <option value=1> Activado</option>
                    {% endif %}
                    {% for data in [{'valor':'Desactivado', 'n':0}, {'valor':'Activado', 'n':1}] %}
                    <option value="{{ data.n }}"> {{ data.valor }}</option>
                    {% endfor %}
                </select>
            </div>
            <!-- {% if configuraciones[0].deteccionObjetos==0 %}
            <input type="hidden" name="check" value="0">
            <div class="form-check form-switch">
                <label class="form-check-label" for="flexSwitchCheckDefault">Default switch checkbox input</label>
              <input id='toggle-switch' name="check" value="" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" style="float: none; margin-top: 0.7rem; margin-left: 0; margin-right: 9rem; width: 3rem; height: 1.5rem;" />
            {% else %}
            <input type="hidden" name="check" value="1">
            <div class="form-check form-switch">
                <label class="form-check-label" for="flexSwitchCheckChecked">Default switch checkbox input</label>
              <input id='toggle-switch' name="check" value="" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" style="float: none; margin-top: 0.7rem; margin-left: 0; margin-right: 9rem; width: 3rem; height: 1.5rem;" />
            </div>
            {% endif %} -->
        </div>

    
        <!-- <div id="nueva-categoria-form" style="display: none;">
            <div class="row">
                <div class="col">
                    <label for="objeto1">Objeto 1:</label>
                    <select id="objeto1" name="objeto1" class="form-control" required>
                        {% for data in ['Personas', 'Perros', 'Gatos'] %}
                        <option value="{{ data }}"> {{ data }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col">
                    <label for="objeto2">Objeto 2:</label>
                    <select id="objeto2" name="objeto2" class="form-control">
                        <option value=""></option>
                        {% for data in ['Perros', 'Gatos'] %}
                        <option value="{{ data }}"> {{ data }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col">
                    <label for="objeto3">Objeto 3:</label>
                    <select id="objeto3" name="objeto3" class="form-control">
                        <option value=""></option>
                        {% for data in ['Gatos'] %}
                        <option value="{{ data }}"> {{ data }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div> -->
        <hr>

        <input class="button-primary mt-3 btn btn-info btn-block bold" type="submit" onclick="configuraciones()"
            value="Guardar preferencias">
    </form>
    <script>
        let usuario = document.getElementsByName("nombreUsuario")[0].value
        console.log(usuario)
        function configuraciones() {
            console.log(usuario)
            convertirTextoAVoz("Hola " + usuario + " Tus preferencias quedaron guardadas")
        }

        //const toggleSwitch = document.getElementById('toggle-switch');
        //toggleSwitch.addEventListener('change', () => {
          //  if (toggleSwitch.checked) {
            //    toggleSwitch.value = '1';
            //} else {
              //  toggleSwitch.value = '0';
            //}
        // });
    </script>
</section>

{% endblock body %}