{% extends 'layout.html' %}
{% block body %}
<h1>Apartamento de {{nombreUsuario}}</h1>
{% if interaccionPuertas==0 and interaccionVentanas ==0 and interaccionLuces==0 %}
<form action="{{url_for('configuraciones')}}">
    <button class="btn btn-danger" type="submit">Nada esta activo ir a configuraciones</button>
</form>
<div class="containerapartamento">
    <div class="apartamento">
        <div class="seccionSuperior">
            <div class="habitacionPrincipal">
                <div class="habitacion1 luzHabitacion1">
                    <spam class="Text">{{habitacion1}}</spam>
                </div>
                <div class="bañoPrivado luzBañoPrivado">
                    <spam class="Text">{{bañoPrivado}}</spam>
                </div>
            </div>
            <div class="habitacion2 luzHabitacion2">
                <spam class="Text">{{habitacion2}}</spam>

            </div>
            <div class="cocinaZonaLavado">
                <div class="zonaLavado luzLavado">
                    <spam class="Text">{{lavado}}</spam>
                </div>
                <div class="cocina luzCocina">
                    <spam class="Text">Cocina</spam>
                </div>
            </div>
        </div>
        <div class="seccionInferior">
            <div class="puertaPrincipal"></div>
            <div class="habitacion3 luzHabitacion3">
                <spam class="Text">{{habitacion3}}</spam>

            </div>
            <div class="bañoSocial luzBañoSocial">
                <spam class="Text">{{bañoSocial}}</spam>

            </div>
            <div class="salaComedor ventanaSalaComedor luzSalaComedor">
                <div class="sala">
                    <spam class="Text" style="margin-left: 45%;">Sala</spam>
                </div>
                <div class="comedor">

                </div>
            </div>
        </div>
    </div>
    <div id="acciones">
        <div id="buttons">
            <button id="detecionVoice" onclick="activarReconocimientoDeVoz()">Activar micrófono</button>
            {% if deteccionObjetos == 0 %}

            {% else %}

            <button id="detectionAction" class="btn btn-warning" onclick="activarVideo()">Iniciar deteccion</button>

            {% endif %}
        </div>
        <div id="resulst">
            <p id="mostrar"></p>
            <p id="resulado"></p>
        </div>
        <div id="canvas-container"></div>
    </div>
</div>
{% elif interaccionPuertas==1 and interaccionVentanas ==1 %}
<div class="containerapartamento">
    <div class="apartamento">
        <div class="seccionSuperior">
            <div class="habitacionPrincipal">
                <div class="habitacion1 luzHabitacion1">
                    <spam class="Text">{{habitacion1}}</spam>
                    <div class="puertaHabitacion1"> </div>
                    <div class="ventanaHabitacion1"></div>
                </div>
                <div class="bañoPrivado luzBañoPrivado">
                    <spam class="Text">{{bañoPrivado}}</spam>
                    <div class="puertaBañoPrivado"></div>
                    <div class="ventanaSuperior ventanaBañoPrivado"> </div>
                </div>
            </div>
            <div class="habitacion2 luzHabitacion2">
                <spam class="Text">{{habitacion2}}</spam>
                <div class="puertaHabitacion2"></div>
                <div class="ventanaSuperior ventanaHabitacion2"> </div>

            </div>
            <div class="cocinaZonaLavado">
                <div class="zonaLavado luzLavado">
                    <spam class="Text">{{lavado}}</spam>
                    <div class="ventanaLavado"> </div>
                </div>
                <div class="cocina luzCocina">
                    <spam class="Text">{{cocina}}</spam>
                    <div class="ventanaCocina"> </div>
                </div>
            </div>
        </div>
        <div class="seccionInferior">
            <div class="puertaPrincipal"></div>
            <div class="habitacion3 luzHabitacion3">
                <spam class="Text">{{habitacion3}}</spam>
                <div class="puertaHabitacion3"> </div>
                <div class="ventanaHabitacion3"></div>
            </div>
            <div class="bañoSocial luzBañoSocial">
                <spam class="Text">{{bañoSocial}}</spam>
                <div class="puertaBañoSocial"> </div>
                <div class="ventanaInferior ventanaBañoSocial"> </div>
            </div>
            <div class="salaComedor ventanaSalaComedor luzSalaComedor">
                <div class="sala">
                    <spam class="Text" style="margin-left: 45%;">{{salaComedor}}</spam>
                    <div class="ventanaInferior ventanaSala"> </div>
                </div>
                <div class="comedor">
                    <spam class="Text"></spam>
                    <div class="ventanaInferior ventanaComedor"> </div>
                </div>
            </div>
        </div>
    </div>
    <div id="acciones">
        <div id="buttons">
            {% if manejo == 'Por voz' %}
            <button id="detecionVoice" class="btn btn-primary" onclick="activarReconocimientoDeVoz()">Activar micrófono</button>
            {% if deteccionObjetos == 1 %}
            <button id="detectionAction" class="btn btn-warning" onclick="activarVideo()">Iniciar deteccion</button>
            {% endif %}
            {% else %}
                {% if capturando_video %}
                <button id="parpadeo" type="button" class="btn btn-danger" onclick="location.href='/detener_captura'">Detener captura</button>
                {% else %}
                <button id="parpadeo"  type="button" class="btn btn-primary" onclick="location.href='/iniciar_captura'">Iniciar captura</button>
                {% endif %}
            {% endif %}
            
        </div>
        <div id="resulst">
            <p id="mostrar"></p>
            <p id="resulado"></p>
        </div>
        
        <div id="canvas-container">
            {% if capturando_video and manejo == 'Por parpadeo' %}
            <img src="{{ url_for('video_feed') }}" width="400" height="400">
            {% endif %}
        </div>
    </div>
</div>
{% elif interaccionPuertas==0 and interaccionVentanas ==1 %}
<div class="containerapartamento">
    <div class="apartamento">
        <div class="seccionSuperior">
            <div class="habitacionPrincipal">
                <div class="habitacion1 luzHabitacion1">
                    <spam class="Text">{{habitacion1}}</spam>
                    <div class="ventanaHabitacion1"></div>
                </div>
                <div class="bañoPrivado luzBañoPrivado">
                    <spam class="Text">{{bañoPrivado}}</spam>
                    <div class="ventanaSuperior ventanaBañoPrivado"> </div>
                </div>
            </div>
            <div class="habitacion2 luzHabitacion2">
                <spam class="Text">{{habitacion2}}</spam>
                <div class="ventanaSuperior ventanaHabitacion2"> </div>

            </div>
            <div class="cocinaZonaLavado">
                <div class="zonaLavado luzLavado">
                    <spam class="Text">{{lavado}}</spam>
                    <div class="ventanaLavado"> </div>
                </div>
                <div class="cocina luzCocina">
                    <spam class="Text">Cocina</spam>
                    <div class="ventanaCocina"> </div>
                </div>
            </div>
        </div>
        <div class="seccionInferior">
            <div class="habitacion3 luzHabitacion3">
                <spam class="Text">{{habitacion3}}</spam>
                <div class="ventanaHabitacion3"></div>
            </div>
            <div class="bañoSocial luzBañoSocial">
                <spam class="Text">{{bañoSocial}}</spam>
                <div class="ventanaInferior ventanaBañoSocial"> </div>
            </div>
            <div class="salaComedor ventanaSalaComedor luzSalaComedor">
                <div class="sala">
                    <spam class="Text" style="margin-left: 45%;">Sala</spam>
                    <div class="ventanaInferior ventanaSala"> </div>
                </div>
                <div class="comedor">

                    <div class="ventanaInferior ventanaComedor"> </div>
                </div>
            </div>
        </div>
    </div>
    <div id="acciones">
        <div id="buttons">
            {% if manejo == 'Por voz' %}
            <button id="detecionVoice" class="btn btn-primary" onclick="activarReconocimientoDeVoz()">Activar micrófono</button>
            {% if deteccionObjetos == 1 %}
            <button id="detectionAction" class="btn btn-warning" onclick="activarVideo()">Iniciar deteccion</button>
            {% endif %}
            {% else %}
                {% if capturando_video %}
                <button id="parpadeo" type="button" class="btn btn-danger" onclick="location.href='/detener_captura'">Detener captura</button>
                {% else %}
                <button id="parpadeo"  type="button" class="btn btn-primary" onclick="location.href='/iniciar_captura'">Iniciar captura</button>
                {% endif %}
            {% endif %}
            
        </div>
        <div id="resulst">
            <p id="mostrar"></p>
            <p id="resulado"></p>
        </div>
        
        <div id="canvas-container">
            {% if capturando_video and manejo == 'Por parpadeo' %}
            <img src="{{ url_for('video_feed') }}" width="400" height="400">
            {% endif %}
        </div>
    </div>
</div>
{% elif interaccionPuertas==1 and interaccionVentanas ==0 %}
<div class="containerapartamento">
    <div class="apartamento">
        <div class="seccionSuperior">
            <div class="habitacionPrincipal">
                <div class="habitacion1 luzHabitacion1">
                    <spam class="Text">{{habitacion1}}</spam>
                    <div class="puertaHabitacion1"> </div>
                </div>
                <div class="bañoPrivado luzBañoPrivado">
                    <spam class="Text">{{bañoPrivado}}</spam>
                    <div class="puertaBañoPrivado"></div>
                </div>
            </div>
            <div class="habitacion2 luzHabitacion2">
                <spam class="Text">{{habitacion2}}</spam>
                <div class="puertaHabitacion2"></div>
            </div>
            <div class="cocinaZonaLavado">
                <div class="zonaLavado luzLavado">
                    <spam class="Text">{{lavado}}</spam>
                </div>
                <div class="cocina luzCocina">
                    <spam class="Text">Cocina</spam>
                </div>
            </div>
        </div>
        <div class="seccionInferior">
            <div class="puertaPrincipal"></div>
            <div class="habitacion3 luzHabitacion3">
                <spam class="Text">{{habitacion3}}</spam>
                <div class="puertaHabitacion3"> </div>
            </div>
            <div class="bañoSocial luzBañoSocial">
                <spam class="Text">{{bañoSocial}}</spam>
                <div class="puertaBañoSocial"> </div>
            </div>
            <div class="salaComedor ventanaSalaComedor luzSalaComedor">
                <div class="sala">
                    <spam class="Text" style="margin-left: 45%;">Sala</spam>
                </div>
                <div class="comedor">

                </div>
            </div>
        </div>
    </div>
    <div id="acciones">
        <div id="buttons">
            {% if manejo == 'Por voz' %}
            <button id="detecionVoice" class="btn btn-primary" onclick="activarReconocimientoDeVoz()">Activar micrófono</button>
            {% if deteccionObjetos == 1 %}
            <button id="detectionAction" class="btn btn-warning" onclick="activarVideo()">Iniciar deteccion</button>
            {% endif %}
            {% else %}
                {% if capturando_video %}
                <button id="parpadeo" type="button" class="btn btn-danger" onclick="location.href='/detener_captura'">Detener captura</button>
                {% else %}
                <button id="parpadeo"  type="button" class="btn btn-primary" onclick="location.href='/iniciar_captura'">Iniciar captura</button>
                {% endif %}
            {% endif %}
            
        </div>
        <div id="resulst">
            <p id="mostrar"></p>
            <p id="resulado"></p>
        </div>
        
        <div id="canvas-container">
            {% if capturando_video and manejo == 'Por parpadeo' %}
            <img src="{{ url_for('video_feed') }}" width="400" height="400">
            {% endif %}
        </div>
    </div>
</div>
{% elif interaccionPuertas==0 and interaccionVentanas ==0 %}
<div class="containerapartamento">
    <div class="apartamento">
        <div class="seccionSuperior">
            <div class="habitacionPrincipal">
                <div class="habitacion1 luzHabitacion1">
                    <spam class="Text">{{habitacion1}}</spam>
                </div>
                <div class="bañoPrivado luzBañoPrivado">
                    <spam class="Text">{{bañoPrivado}}</spam>
                </div>
            </div>
            <div class="habitacion2 luzHabitacion2">
                <spam class="Text">{{habitacion2}}</spam>

            </div>
            <div class="cocinaZonaLavado">
                <div class="zonaLavado luzLavado">
                    <spam class="Text">{{lavado}}</spam>
                </div>
                <div class="cocina luzCocina">
                    <spam class="Text">Cocina</spam>
                </div>
            </div>
        </div>
        <div class="seccionInferior">
            <div class="puertaPrincipal"></div>
            <div class="habitacion3 luzHabitacion3">
                <spam class="Text">{{habitacion3}}</spam>

            </div>
            <div class="bañoSocial luzBañoSocial">
                <spam class="Text">{{bañoSocial}}</spam>

            </div>
            <div class="salaComedor ventanaSalaComedor luzSalaComedor">
                <div class="sala">
                    <spam class="Text" style="margin-left: 45%;">Sala</spam>
                </div>
                <div class="comedor">

                </div>
            </div>
        </div>
    </div>
    <div id="acciones">
        <div id="buttons">
            {% if manejo == 'Por voz' %}
            <button id="detecionVoice" class="btn btn-primary" onclick="activarReconocimientoDeVoz()">Activar micrófono</button>
            {% if deteccionObjetos == 1 %}
            <button id="detectionAction" class="btn btn-warning" onclick="activarVideo()">Iniciar deteccion</button>
            {% endif %}
            {% else %}
                {% if capturando_video %}
                <button id="parpadeo" type="button" class="btn btn-danger" onclick="location.href='/detener_captura'">Detener captura</button>
                {% else %}
                <button id="parpadeo"  type="button" class="btn btn-primary" onclick="location.href='/iniciar_captura'">Iniciar captura</button>
                {% endif %}
            {% endif %}
            
        </div>
        <div id="resulst">
            <p id="mostrar"></p>
            <p id="resulado"></p>
        </div>
        
        <div id="canvas-container">
            {% if capturando_video and manejo == 'Por parpadeo' %}
            <img src="{{ url_for('video_feed') }}" width="400" height="400">
            {% endif %}
        </div>
    </div>
</div>
{% endif %}

<script>
    var interaccionPuertas = '{{interaccionPuertas}}'
    var interaccionVentanas = '{{interaccionVentanas}}'
    var interaccionLuces = '{{interaccionLuces}}'
    var deteccionObjetos = '{{deteccionObjetos}}'

    var habitacion1N = '{{habitacion1}}'
    var habitacion2N = '{{habitacion2}}'
    var habitacion3N = '{{habitacion3}}'
    var bañoPrivadoN = '{{bañoPrivado}}'
    var bañoSocialN = '{{bañoSocial}}'
    var salaComedorN = '{{salaComedor}}'
    var cocinaN = '{{cocina}}'
    var lavadoN = '{{lavado}}'
    asignarVariables(interaccionPuertas, interaccionVentanas, interaccionLuces, deteccionObjetos)
    asignarLugares(habitacion1N, habitacion2N, habitacion3N, bañoSocialN, bañoPrivadoN, salaComedorN, cocinaN, lavadoN)

    if (interaccionPuertas == '1') {
        //puertas
        document.querySelector(`.puertaHabitacion1`).classList.add(`puerta${capitalizarPrimeraLetra(habitacion1N.replace(/\s+/g, ''))}`)
        document.querySelector(`.puertaHabitacion2`).classList.add(`puerta${capitalizarPrimeraLetra(habitacion2N.replace(/\s+/g, ''))}`)
        document.querySelector(`.puertaHabitacion3`).classList.add(`puerta${capitalizarPrimeraLetra(habitacion3N.replace(/\s+/g, ''))}`)
        document.querySelector(`.puertaBañoPrivado`).classList.add(`puerta${capitalizarPrimeraLetra(bañoPrivadoN.replace(/\s+/g, ''))}`)
        document.querySelector(`.puertaBañoSocial`).classList.add(`puerta${capitalizarPrimeraLetra(bañoSocialN.replace(/\s+/g, ''))}`)
    }

    if (interaccionVentanas == '1') {
        //ventanas
        document.querySelector(`.ventanaHabitacion1`).classList.add(`ventana${capitalizarPrimeraLetra(habitacion1N.replace(/\s+/g, ''))}`)
        document.querySelector(`.ventanaHabitacion2`).classList.add(`ventana${capitalizarPrimeraLetra(habitacion2N.replace(/\s+/g, ''))}`)
        document.querySelector(`.ventanaHabitacion3`).classList.add(`ventana${capitalizarPrimeraLetra(habitacion3N.replace(/\s+/g, ''))}`)
        document.querySelector(`.ventanaBañoPrivado`).classList.add(`ventana${capitalizarPrimeraLetra(bañoPrivadoN.replace(/\s+/g, ''))}`)
        document.querySelector(`.ventanaBañoSocial`).classList.add(`ventana${capitalizarPrimeraLetra(bañoSocialN.replace(/\s+/g, ''))}`)
        document.querySelector(`.ventanaSalaComedor`).classList.add(`ventana${capitalizarPrimeraLetra(salaComedorN.replace(/\s+/g, ''))}`)
        document.querySelector(`.ventanaCocina`).classList.add(`ventana${capitalizarPrimeraLetra(cocinaN.replace(/\s+/g, ''))}`)
        document.querySelector(`.ventanaLavado`).classList.add(`ventana${capitalizarPrimeraLetra(lavadoN.replace(/\s+/g, ''))}`)
    }

    if (interaccionLuces == '1') {
        //luz
        document.querySelector(`.luzHabitacion1`).classList.add(`luz${capitalizarPrimeraLetra(habitacion1N.replace(/\s+/g, ''))}`)
        document.querySelector(`.luzHabitacion2`).classList.add(`luz${capitalizarPrimeraLetra(habitacion2N.replace(/\s+/g, ''))}`)
        document.querySelector(`.luzHabitacion3`).classList.add(`luz${capitalizarPrimeraLetra(habitacion3N.replace(/\s+/g, ''))}`)
        document.querySelector(`.luzBañoPrivado`).classList.add(`luz${capitalizarPrimeraLetra(bañoPrivadoN.replace(/\s+/g, ''))}`)
        document.querySelector(`.luzBañoSocial`).classList.add(`luz${capitalizarPrimeraLetra(bañoSocialN.replace(/\s+/g, ''))}`)
        document.querySelector(`.luzSalaComedor`).classList.add(`luz${capitalizarPrimeraLetra(salaComedorN.replace(/\s+/g, ''))}`)
        document.querySelector(`.luzCocina`).classList.add(`luz${capitalizarPrimeraLetra(cocinaN.replace(/\s+/g, ''))}`)
        document.querySelector(`.luzLavado`).classList.add(`luz${capitalizarPrimeraLetra(lavadoN.replace(/\s+/g, ''))}`)

    }

    const socket = io('http://localhost:8000');

    socket.on('connect', () => {
        console.log('Conectado al servidor');
    });
    
    socket.on('disconnect', () => {
        console.log('Desconectado del servidor');
    });
    
    function enviarDatos(){
        socket.emit('send_message', { ubicacionesLuz: ubicacionesLuz, ubicacionesPuerta: ubicacionesPuerta, ubicacionesVentana: ubicacionesVentana });
    }
    // Enviar datos al servidor
    
    socket.on('send_message', (data) => {
        const message = data.message;
        console.log('Mensaje recibido:', message);
    });

    socket.on('plano', (data) => {
        ubicacionesLuz = data.message.ubicacionesLuz;
        ubicacionesPuerta = data.message.ubicacionesPuerta;
        ubicacionesVentana = data.message.ubicacionesVentana;
        mensaje = data.message.mensaje;
        convertirTextoAVoz(mensaje)
        cambiarPlano();
        enviarDatos();
        console.log('Mensaje recibido:', ubicacionesLuz);
    });
    enviarDatos();
</script>

{% endblock %}