{% extends 'layout.html' %}
{% block body %}
<h1>Apartamento de {{nombreUsuario}}</h1>
{% if interaccionPuertas==0 and interaccionVentanas ==0 and interaccionLuces==0 %}
<form action="{{url_for('configuraciones')}}">
<button class="btn btn-danger" type="submit">Nada esta activo ir a configuraciones</button>
</form>
<div class="containerapartamento">
    <div class="apartamento">
        <div class="seccionSuperior">
            <div class="habitacionPrincipal">
                <div class="habitacion1 luzHabitacion1">
                    <spam class="Text">Habitacion 1</spam>
                </div>
                <div class="bañoPrivado luzBañoPrivado">
                    <spam class="Text">Baño privado</spam>
                </div>
            </div>
            <div class="habitacion2 luzHabitacion2">
                <spam class="Text">Habitacion 2</spam>

            </div>
            <div class="cocinaZonaLavado">
                <div class="zonaLavado luzLavado">
                    <spam class="Text">Zona de lavado</spam>
                </div>
                <div class="cocina luzCocina">
                    <spam class="Text">Cocina</spam>
                </div>
            </div>
        </div>
        <div class="seccionInferior">
            <div class="puertaPrincipal"></div>
            <div class="habitacion3 luzHabitacion3">
                <spam class="Text">Habitacion 3</spam>

            </div>
            <div class="bañoSocial luzBañoSocial">
                <spam class="Text">Baño Social</spam>

            </div>
            <div class="salaComedor ventanaSalaComedor luzSalaComedor">
                <div class="sala">
                    <spam class="Text">Sala</spam>
                </div>
                <div class="comedor">
                    <spam class="Text">Comedor</spam>
                </div>
            </div>
        </div>
    </div>
    <div id="acciones">
        <div id="buttons">
            <button id="detecionVoice" onclick="activarReconocimientoDeVoz()">Activar micrófono</button>
            {% if deteccionObjetos == 0 %}
                
            {% else %}
            
                <button id="detectionAction" onclick="activarVideo()">Iniciar deteccion</button>
                
            {% endif %}
        </div>
        <div id="resulst">
            <p id="mostrar"></p>
            <p id="resulado"></p>
        </div>
        <div id="canvas-container"></div>
    </div>
</div>
{% elif interaccionPuertas==1 and interaccionVentanas ==1 %}
<div class="containerapartamento">
    <div class="apartamento">
        <div class="seccionSuperior">
            <div class="habitacionPrincipal">
                <div class="habitacion1 luzHabitacion1">
                    <spam class="Text">Habitacion 1</spam>
                    <div class="puertaHabitacion1"> </div>
                    <div class="ventanaHabitacion1"></div>
                </div>
                <div class="bañoPrivado luzBañoPrivado">
                    <spam class="Text">Baño privado</spam>
                    <div class="puertaBañoPrivado"></div>
                    <div class="ventanaSuperior ventanaBañoPrivado"> </div>
                </div>
            </div>
            <div class="habitacion2 luzHabitacion2">
                <spam class="Text">Habitacion 2</spam>
                <div class="puertaHabitacion2"></div>
                <div class="ventanaSuperior ventanaHabitacion2"> </div>

            </div>
            <div class="cocinaZonaLavado">
                <div class="zonaLavado luzLavado">
                    <spam class="Text">Zona de lavado</spam>
                    <div class="ventanaLavado"> </div>
                </div>
                <div class="cocina luzCocina">
                    <spam class="Text">Cocina</spam>
                    <div class="ventanaCocina"> </div>
                </div>
            </div>
        </div>
        <div class="seccionInferior">
            <div class="puertaPrincipal"></div>
            <div class="habitacion3 luzHabitacion3">
                <spam class="Text">Habitacion 3</spam>
                <div class="puertaHabitacion3"> </div>
                <div class="ventanaHabitacion3"></div>
            </div>
            <div class="bañoSocial luzBañoSocial">
                <spam class="Text">Baño Social</spam>
                <div class="puertaBañoSocial"> </div>
                <div class="ventanaInferior ventanaBañoSocial"> </div>
            </div>
            <div class="salaComedor ventanaSalaComedor luzSalaComedor">
                <div class="sala">
                    <spam class="Text">Sala</spam>
                    <div class="ventanaInferior ventanaSala"> </div>
                </div>
                <div class="comedor">
                    <spam class="Text">Comedor</spam>
                    <div class="ventanaInferior ventanaComedor"> </div>
                </div>
            </div>
        </div>
    </div>
    <div id="acciones">
        <div id="buttons">
            <button id="detecionVoice" onclick="activarReconocimientoDeVoz()">Activar micrófono</button>
            {% if deteccionObjetos == 0 %}
                
            {% else %}
            
                <button id="detectionAction" onclick="activarVideo()">Iniciar deteccion</button>
                
            {% endif %}
        </div>
        <div id="resulst">
            <p id="mostrar"></p>
            <p id="resulado"></p>
        </div>
        <div id="canvas-container"></div>
    </div>
</div>
{% elif interaccionPuertas==0 and interaccionVentanas ==1 %}
<div class="containerapartamento">
    <div class="apartamento">
        <div class="seccionSuperior">
            <div class="habitacionPrincipal">
                <div class="habitacion1 luzHabitacion1">
                    <spam class="Text">Habitacion 1</spam>
                    <div class="ventanaHabitacion1"></div>
                </div>
                <div class="bañoPrivado luzBañoPrivado">
                    <spam class="Text">Baño privado</spam>
                    <div class="ventanaSuperior ventanaBañoPrivado"> </div>
                </div>
            </div>
            <div class="habitacion2 luzHabitacion2">
                <spam class="Text">Habitacion 2</spam>
                <div class="ventanaSuperior ventanaHabitacion2"> </div>

            </div>
            <div class="cocinaZonaLavado">
                <div class="zonaLavado luzLavado">
                    <spam class="Text">Zona de lavado</spam>
                    <div class="ventanaLavado"> </div>
                </div>
                <div class="cocina luzCocina">
                    <spam class="Text">Cocina</spam>
                    <div class="ventanaCocina"> </div>
                </div>
            </div>
        </div>
        <div class="seccionInferior">
            <div class="habitacion3 luzHabitacion3">
                <spam class="Text">Habitacion 3</spam>
                <div class="ventanaHabitacion3"></div>
            </div>
            <div class="bañoSocial luzBañoSocial">
                <spam class="Text">Baño Social</spam>
                <div class="ventanaInferior ventanaBañoSocial"> </div>
            </div>
            <div class="salaComedor ventanaSalaComedor luzSalaComedor">
                <div class="sala">
                    <spam class="Text">Sala</spam>
                    <div class="ventanaInferior ventanaSala"> </div>
                </div>
                <div class="comedor">
                    <spam class="Text">Comedor</spam>
                    <div class="ventanaInferior ventanaComedor"> </div>
                </div>
            </div>
        </div>
    </div>
    <div id="acciones">
        <div id="buttons">
            <button id="detecionVoice" onclick="activarReconocimientoDeVoz()">Activar micrófono</button>
            {% if deteccionObjetos == 0 %}
                
            {% else %}
            
                <button id="detectionAction" onclick="activarVideo()">Iniciar deteccion</button>
                
            {% endif %}
        </div>
        <div id="resulst">
            <p id="mostrar"></p>
            <p id="resulado"></p>
        </div>
        <div id="canvas-container"></div>
    </div>
</div>
{% elif interaccionPuertas==1 and interaccionVentanas ==0 %}
<div class="containerapartamento">
    <div class="apartamento">
        <div class="seccionSuperior">
            <div class="habitacionPrincipal">
                <div class="habitacion1 luzHabitacion1">
                    <spam class="Text">Habitacion 1</spam>
                    <div class="puertaHabitacion1"> </div>
                </div>
                <div class="bañoPrivado luzBañoPrivado">
                    <spam class="Text">Baño privado</spam>
                    <div class="puertaBañoPrivado"></div>
                </div>
            </div>
            <div class="habitacion2 luzHabitacion2">
                <spam class="Text">Habitacion 2</spam>
                <div class="puertaHabitacion2"></div>
            </div>
            <div class="cocinaZonaLavado">
                <div class="zonaLavado luzLavado">
                    <spam class="Text">Zona de lavado</spam>
                </div>
                <div class="cocina luzCocina">
                    <spam class="Text">Cocina</spam>
                </div>
            </div>
        </div>
        <div class="seccionInferior">
            <div class="puertaPrincipal"></div>
            <div class="habitacion3 luzHabitacion3">
                <spam class="Text">Habitacion 3</spam>
                <div class="puertaHabitacion3"> </div>
            </div>
            <div class="bañoSocial luzBañoSocial">
                <spam class="Text">Baño Social</spam>
                <div class="puertaBañoSocial"> </div>
            </div>
            <div class="salaComedor ventanaSalaComedor luzSalaComedor">
                <div class="sala">
                    <spam class="Text">Sala</spam>
                </div>
                <div class="comedor">
                    <spam class="Text">Comedor</spam>
                </div>
            </div>
        </div>
    </div>
    <div id="acciones">
        <div id="buttons">
            <button id="detecionVoice" onclick="activarReconocimientoDeVoz()">Activar micrófono</button>
            {% if deteccionObjetos == 0 %}
                
            {% else %}
            
                <button id="detectionAction" onclick="activarVideo()">Iniciar deteccion</button>
                
            {% endif %}
        </div>
        <div id="resulst">
            <p id="mostrar"></p>
            <p id="resulado"></p>
        </div>
        <div id="canvas-container"></div>
    </div>
</div>
{% elif interaccionPuertas==0 and interaccionVentanas ==0 %}
<div class="containerapartamento">
    <div class="apartamento">
        <div class="seccionSuperior">
            <div class="habitacionPrincipal">
                <div class="habitacion1 luzHabitacion1">
                    <spam class="Text">Habitacion 1</spam>
                </div>
                <div class="bañoPrivado luzBañoPrivado">
                    <spam class="Text">Baño privado</spam>
                </div>
            </div>
            <div class="habitacion2 luzHabitacion2">
                <spam class="Text">Habitacion 2</spam>

            </div>
            <div class="cocinaZonaLavado">
                <div class="zonaLavado luzLavado">
                    <spam class="Text">Zona de lavado</spam>
                </div>
                <div class="cocina luzCocina">
                    <spam class="Text">Cocina</spam>
                </div>
            </div>
        </div>
        <div class="seccionInferior">
            <div class="puertaPrincipal"></div>
            <div class="habitacion3 luzHabitacion3">
                <spam class="Text">Habitacion 3</spam>

            </div>
            <div class="bañoSocial luzBañoSocial">
                <spam class="Text">Baño Social</spam>

            </div>
            <div class="salaComedor ventanaSalaComedor luzSalaComedor">
                <div class="sala">
                    <spam class="Text">Sala</spam>
                </div>
                <div class="comedor">
                    <spam class="Text">Comedor</spam>
                </div>
            </div>
        </div>
    </div>
    <div id="acciones">
        <div id="buttons">
            <button id="detecionVoice" onclick="activarReconocimientoDeVoz()">Activar micrófono</button>
            {% if deteccionObjetos == 0 %}
                
            {% else %}
            
                <button id="detectionAction" onclick="activarVideo()">Iniciar deteccion</button>
                
            {% endif %}
        </div>
        <div id="resulst">
            <p id="mostrar"></p>
            <p id="resulado"></p>
        </div>
        <div id="canvas-container"></div>
    </div>
</div>


{% endif %}

{% endblock %}

